VITE_SUPABASE_URL=https://tvpkwidkmfecqglbozde.supabase.co 
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR2cGt3aWRrbWZlY3FnbGJvemRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxNTQ5MjksImV4cCI6MjA5MjczMDkyOX0.vDONR2DcUFw4ScDLRtbf_9uXTO9rrEp_DIewa7j1wIs
